<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reconocimiento de Imagenes con Visual Recognition</title>
    <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav>
        <div class="container-wide">
            <div class="row">
                <div class="col s12 m3">
                    <a href="/" class="logo">
                        <img width="150" src="img/recognition.png" alt="">
                    </a>
                </div>
                <div class="col s12 m9">
                    <div class="right">
                        <ul>
                            <li><a href="https://www.ibm.com/watson/developercloud/visual-recognition/api/v3/" target="_blank" class="btn nav-sign-up waves-effect waves-light">referencia a la API</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="hero hero-landing">
        <div class="row valign-wrapper no-valign-wrapper-on-mobile">
            <div class="col l5 valign hero-text">
                <div class="container-wide">
                    <h1>Reconocimiento de Imagenes con Visual Recoginition de IBM</h1>
                    <h2>
                        </b>SIRI es un sistema para la implementacion de reconocimiento de imagenes basado en la API que ofrece Visual Recognition de IBM</b>.
                    </h2>
                    <a href="#start" class="btn btn-large waves-effect waves-light sign-up-btn">Comenzar Ahora</a>
                </div>
            </div>
            <div class="col l7 no-right-padding valign hero-img-col">
                <img src="img/ibm_recognition.png" alt="Sign Up Now" class="hero-img responsive-img">
            </div>
        </div>
    </div>
    <div class="how" id="start">
        <div class="how-question">que tenemos que hacer?</div>
        <div class="how-icon">
            <i class="material-icons">aspect_ratio</i>
        </div>
        <div class="how-step row">
            <div class="how-step-left col l6 valign-wrapper">
                <div class="container-wide">
                    <div class="how-step-content">
                        <div class="how-step-left-icon">
                            <i class="material-icons">web</i>
                        </div>
                        <h3 class="how-step-title">1.Ir a Visual Recognition</h3>
                        <div class="how-step-description">
                            Nos dirigimos a <a href="https://www.ibm.com/watson/">IBM Watson</a>, una vez dentro nos dirigimos a 
                            <b>Products&Service > Visual Recognition</b>, donde nos redireccionara a la pagina de Recognition.
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-step-right col offset-l1 l5 no-right-padding valign">
                <img src="img/site-recognition.jpg" alt="Site Visual Recogniton" class="responsive-img">
            </div>
        </div>
        <div class="how-step row">
            <div class="how-step-left col l6 valign-wrapper">
                <div class="container-wide">
                    <div class="how-step-content">
                        <div class="how-step-left-icon">
                            <i class="material-icons">input</i>
                        </div>
                        <h3 class="how-step-title">2. Crear cuenta en IBM Cloud</h3>
                        <div class="how-step-description">
                            Una vez dentro de Visual Recognition, ingrese a la opcion <b>Get Started Free</b> y proceda a realizar
                            la creación de la cuenta ingresando la informacion solicitada.
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-step-right col offset-l1 l5 no-right-padding valign">
                <img src="img/register-ibm.jpg" alt="Formulario de registro en IBM" class="responsive-img">
            </div>
        </div>
        <div class="how-step row">
            <div class="how-step-left col l6 valign-wrapper how-step-left-last">
                <div class="container-wide">
                    <div class="how-step-content">
                        <div class="how-step-left-icon how-step-left-icon-pull-left">
                            <i class="material-icons">code</i>
                        </div>
                        <h3 class="how-step-title">3. Crear proyecto de Visual Recognition</h3>
                        <div class="how-step-description">
                            Una vez hallamos iniciado sesión, nos dirigimos a la barra superior izquierda para mostrar el panel y
                            seleccionamos la opcion <b>watson</b>, luego seleccionamos la opcion crear recurso el cual nos dirigira
                            a donde se encuentran todos los servicios, debe seleccionar Visual Recognition y luego <b>Crear.</b>                             
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-step-right col offset-l1 l5 no-right-padding valign">
                <img src="img/create-resource.jpg" alt="Publish Instantly" class="responsive-img">
            </div>
        </div>
        <div class="how-step row">
            <div class="how-step-left col l6 valign-wrapper how-step-left-last">
                <div class="container-wide">
                    <div class="how-step-content">
                        <div class="how-step-left-icon how-step-left-icon-pull-left">
                            <i class="material-icons">open_in_browser</i>
                        </div>
                        <h3 class="how-step-title">4. Añadir el servicio de IBM Recognition</h3>
                        <div class="how-step-description">
                            Una ves dentro del proyecto, procedemos a añadir el servicio de Recognition, para ello seleccionamos
                            la opcion <b>Getting Started Tutorial</b>, luego seleccionamos la opcion <b>Services</b> que se encuentra
                            en el paso 1 del tutorial. Finalmente dentro de los servicios buscamos <b>Visual Recognition</b> y 
                            seleccionamos <b>Añadir servicio</b> luego <b>Crear proyecto</b>.                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-step-right col offset-l1 l5 no-right-padding valign">
                <img src="img/service.jpg" alt="Publish Instantly" class="responsive-img">
            </div>
        </div>
        <div class="how-step row">
            <div class="how-step-left col l6 valign-wrapper how-step-left-last">
                <div class="container-wide">
                    <div class="how-step-content">
                        <div class="how-step-left-icon how-step-left-icon-pull-left">
                            <i class="material-icons">code</i>
                        </div>
                        <h3 class="how-step-title">5. Implementar Recognition en Node.js</h3>
                        <div class="how-step-description">
                            Una vez dentro del servicio seleccionamos la opcion <b>Referencia de api</b>, allí nos 
                            dirigimos a la documentacion oficial de Visual Recognition. Para la implementacion solo basta
                            con seguir  las indicaciones de la documentación.                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-step-right col offset-l1 l5 no-right-padding valign">
                <img src="img/service.jpg" alt="Publish Instantly" class="responsive-img">
            </div>
        </div>
        <div class="how-icon how-end-icon">
            <i class="material-icons">done</i>
        </div>
        <div class="how-end-title">HEMOS TERMINADO, AHORA ES MOMENTO DE COMENZAR <br> A PROCESAR IMAGENES</div>
        <div class="training">
            <div class="container">
                <form id="form-file" enctype="multipart/form-data" method="POST">
                    <div class="file-field input-field">
                        <div class="btn btn-file-upload">
                            <span>File</span>
                            <input type="file" id="file-upload" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Agregue una imagen">
                        </div>
                    </div>
                    <div class="how-end-cta">
                        <a href="#modal1" id="btn-process" class="btn btn-large waves-effect modal-trigger waves-light sign-up-btn">procesar imagen</a>
                    </div>
                </form>                
            </div>
        </div>        
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="signup-modal-close"><i class="material-icons">shuffle</i></div>
            <div class="signup-modal-title">Proceso de la imagen</div>
            <div class="signup-modal-description">A continuacion se mostraran los resultados obtenidos</div>
            <div class="signup-modal-response">
                <div class="preloader valign-wrapper" id="preloader">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div class="response hide" id="response"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="center-align">
                <i class="material-icons" style="font-size: 40px;">face</i>
                <h6>Design & Development by</h6>
                <p><b>Jefferson Bahamon</b></p>
            </div>
        </div>
    </footer>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="materialize-css/dist/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {                    
            $("#btn-process").on('click', function(e) {
                e.preventDefault()
                var input = $(".file-path")
                if (input.val() !== '') {
                    $(".modal").modal()
                    $("#preloader").show()
                    $("#response").addClass('hide').val('')
                    // console.log("entro" + input.val())
                    var form = $("#form-file")[0]
                    var data = new FormData(form)                
                    $.ajax({
                        url: '/save/file',
                        type: 'post',
                        data: data,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            console.log(res)
                            $("#preloader").hide()
                            $("#response").removeClass('hide')
                            $("#response").html(JSON.stringify(res))
                            input.val("")
                        }
                    })
                } else 
                    Materialize.toast('No se ha cargado ninguna imagen', 3000)
                    // console.log("no entro" + input.val())                
            })
        })
    </script>
</body>
</html>